/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* main part */
.container {
   width: 80%;
   margin: 10px auto;
}

/* products block row */
.product {
    width: calc(100% / 3);
    float: left;
    padding: 5px;
    margin-bottom: 15px;
}

/* product img */
.hidden {
    display:none;
}

.product:hover .hidden {
    display: inline;
    cursor: pointer;
}

.product:hover .show {
    display: none;
}

.product_img {
    position: relative;
}

img {
    width: 100%;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 25px;
    background-color: white;
    padding: 5px 10px;
}
.details div {
    display: inline-block;
}

.details {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.discount {
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 4px;
} 

.eco_friendly {
    color: white;
    background-color: rgb(10, 141, 80);
    padding: 4px;
} 

/* info product */
.info_product {
    margin-top: 10px;
}

.description {
    display: block;
    font-weight: bold;
}


.discounted_price {
    color: red;
    font-weight: bold;
}

.full_price {
    text-decoration: line-through;
}